@* Listbox.razor *@
<div
    class="@CssClasses"
    aria-label="@Label"
    this="@_elementRef"
    role="listbox"
    listRef="@_elementRef"
    @ref="_elementRef"
    @onkeydown="HandleKeyDown"
    @attributes="AdditionalAttributes">
    @ChildContent
</div>
