@* ProgressSpinner.razor *@
<div
    class="@CssClasses"
    aria-label="@Label"
    role="status"
    aria-live="polite"
    @attributes="AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</div>
