<!-- angle-slider-range-input.html -->
<!-- AngleSliderRangeInput component -->
<!--
  Description: a range input for selecting an angle in degrees
  HTML tag: <input>
  CSS class: angle-slider-range-input
  Keyboard: Tab to focus, standard input keyboard interactions
  Accessibility: Implicit input role, aria-label for accessible name
  Usage:
    <input class="angle-slider-range-input" aria-label="Example">
      ...
    
-->

<input
  class="angle-slider-range-input"
  type="range"
  aria-label=""
  min="0"
  max="360"
  step="1"
>
