<!-- united-kingdom-national-health-service-number-input.html -->
<!-- UnitedKingdomNationalHealthServiceNumberInput component -->
<!--
  Description: an input for entering a UK NHS number
  HTML tag: <input>
  CSS class: united-kingdom-national-health-service-number-input
  Keyboard: Tab to focus, standard input keyboard interactions
  Accessibility: Implicit input role, aria-label for accessible name
  Usage:
    <input class="united-kingdom-national-health-service-number-input" aria-label="Example">
      ...
    
-->

<input
  class="united-kingdom-national-health-service-number-input"
  type="text"
  aria-label=""
>
