<!-- united-states-social-security-number-input.html -->
<!-- UnitedStatesSocialSecurityNumberInput component -->
<!--
  Description: an input for entering a US Social Security number
  HTML tag: <input>
  CSS class: united-states-social-security-number-input
  Keyboard: Tab to focus, standard input keyboard interactions
  Accessibility: Implicit input role, aria-label for accessible name
  Usage:
    <input class="united-states-social-security-number-input" aria-label="Example">
      ...
    
-->

<input
  class="united-states-social-security-number-input"
  type="text"
  aria-label=""
>
