<!-- vital-sign-body-temperature-as-celcius-input.html -->
<!-- VitalSignBodyTemperatureAsCelciusInput component -->
<!--
  Description: number input of one vital sign body temperature in Celsius degrees with one decimal point
  HTML tag: <input>
  CSS class: vital-sign-body-temperature-as-celcius-input
  Keyboard: Tab to focus, standard input keyboard interactions
  Accessibility: Implicit input role, aria-label for accessible name
  Usage:
    <input class="vital-sign-body-temperature-as-celcius-input" aria-label="Example">
      ...
    
-->

<input
  class="vital-sign-body-temperature-as-celcius-input"
  type="number"
  min="30"
  max="45"
  step="0.1"
  aria-label="Body Temperature"
>
