<!-- vital-sign-heart-rate-variability-input.html -->
<!-- VitalSignHeartRateVariabilityInput component -->
<!--
  Description: number input of one vital sign heart rate variability with integers
  HTML tag: <input>
  CSS class: vital-sign-heart-rate-variability-input
  Keyboard: Tab to focus, standard input keyboard interactions
  Accessibility: Implicit input role, aria-label for accessible name
  Usage:
    <input class="vital-sign-heart-rate-variability-input" aria-label="Example">
      ...
    
-->

<input
  class="vital-sign-heart-rate-variability-input"
  type="number"
  min="0"
  max="300"
  step="1"
  aria-label="Heart Rate Variability"
>
