<!-- vital-sign-total-sleep-time-as-min-per-day-input.html -->
<!-- VitalSignTotalSleepTimeAsMinPerDayInput component -->
<!--
  Description: number input of one vital sign total sleep time as minutes per day
  HTML tag: <input>
  CSS class: vital-sign-total-sleep-time-as-min-per-day-input
  Keyboard: Tab to focus, standard input keyboard interactions
  Accessibility: Implicit input role, aria-label for accessible name
  Usage:
    <input class="vital-sign-total-sleep-time-as-min-per-day-input" aria-label="Example">
      ...
    
-->

<input
  class="vital-sign-total-sleep-time-as-min-per-day-input"
  type="number"
  min="0"
  max="1440"
  step="1"
  aria-label="Total Sleep Time"
>
