<!-- vital-sign-respiratory-rate-as-breaths-per-minute-input.html -->
<!-- VitalSignRespiratoryRateAsBreathsPerMinuteInput component -->
<!--
  Description: number input of one vital sign respiratory rate in breaths per minute with integers
  HTML tag: <input>
  CSS class: vital-sign-respiratory-rate-as-breaths-per-minute-input
  Keyboard: Tab to focus, standard input keyboard interactions
  Accessibility: Implicit input role, aria-label for accessible name
  Usage:
    <input class="vital-sign-respiratory-rate-as-breaths-per-minute-input" aria-label="Example">
      ...
    
-->

<input
  class="vital-sign-respiratory-rate-as-breaths-per-minute-input"
  type="number"
  min="0"
  max="100"
  step="1"
  aria-label="Respiratory Rate"
>
