## .NET
bin/
obj/
*.user
*.suo
*.vs/
.vs/

## NuGet
*.nupkg
project.lock.json
packages/

## JetBrains Rider
.idea/
*.sln.iml

## macOS
.DS_Store

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## Test results
TestResults/
coverage/
